.git
.env
upstream/HubBackend/.git
upstream/HubBackend/.venv*
upstream/HubBackend/build
upstream/HubBackend/dist
upstream/HubBackend/releases
upstream/HubBackend/__pycache__
upstream/HubFrontend/.git
upstream/HubFrontend/node_modules
upstream/HubFrontend/build
upstream/HubFrontend/dist
upstream/HubFrontend/build-electron/output
data
config/config.json
**/__pycache__
**/*.py[cod]
npm-debug.log*
